<header data-bs-theme="dark">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <%= link_to 'from8bit', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to current_user.nickname, user_path(current_user), class: "user-nickname nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: "logout nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path, class: "login nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to '新規登録', new_user_registration_path, class: "sign-up nav-link" %>
            </li>
          <% end %>
        </ul>
        <%= search_form_for @search, url: musics_path, html: { method: :get, class: "d-flex" } do |f| %>
          <%= f.search_field :title_or_description_or_year_id_or_genre_id_cont, placeholder: "Search", aria: { label: "Search" }, class: "form-control me-2" %>
          <%= f.submit "Search", class: "btn btn-outline-success" %>
        <% end %>
      </div>
    </div>
  </nav>
</header>