<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.112.5">
    <title>Carousel Template · Bootstrap v5.3</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/carousel/">


    

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        width: 100%;
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }

      .btn-bd-primary {
        --bd-violet-bg: #712cf9;
        --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-violet-bg);
        --bs-btn-border-color: var(--bd-violet-bg);
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: #6528e0;
        --bs-btn-hover-border-color: #6528e0;
        --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: #5a23c8;
        --bs-btn-active-border-color: #5a23c8;
      }
      .bd-mode-toggle {
        z-index: 1500;
      }



    </style>

    
    <!-- Custom styles for this template -->
    
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="check2" viewBox="0 0 16 16">
        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
      </symbol>
      <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
      </symbol>
      <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"/>
        <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"/>
      </symbol>
      <symbol id="sun-fill" viewBox="0 0 16 16">
        <path d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
      </symbol>
    </svg>

    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
      <button class="btn btn-bd-primary py-2 dropdown-toggle d-flex align-items-center"
              id="bd-theme"
              type="button"
              aria-expanded="false"
              data-bs-toggle="dropdown"
              aria-label="Toggle theme (auto)">
        <svg class="bi my-1 theme-icon-active" width="1em" height="1em"><use href="#circle-half"></use></svg>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end shadow" aria-labelledby="bd-theme-text">
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="light" aria-pressed="false">
            <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#sun-fill"></use></svg>
            Light
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
            <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#moon-stars-fill"></use></svg>
            Dark
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="auto" aria-pressed="true">
            <svg class="bi me-2 opacity-50 theme-icon" width="1em" height="1em"><use href="#circle-half"></use></svg>
            Auto
            <svg class="bi ms-auto d-none" width="1em" height="1em"><use href="#check2"></use></svg>
          </button>
        </li>
      </ul>
    </div>

    
<%= render "shared/header" %>
<%= render "shared/second_header" %>

<main>

 


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <div class="text-center">
      <br>
      <div class="container">
       </div>
      <h2>あなたが好きなゲーム音楽を共有し、新しいお気に入りに出会える場所</h2>
     【Share the game music you adore; discover tunes you'll fall in love with.】
    </div>
    <br>

    <div class="row">
      <div class="col-lg-4">
        <%= image_tag("game1980.jpg", class:"img-thumbnail") %>
        <h2 class="fw-normal">年代別ゲーム音楽</h2>
        <p>1980年代〜2020年代までの音楽を年代毎に検索できます。懐かしい音楽や最新のゲーム音楽を探してみましょう。</p>
        <p><a class="btn btn-outline-danger" href="#">listen to music &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("game_shop.png", class:"img-thumbnail") %>
        <h2 class="fw-normal">ジャンル別ゲーム音楽</h2>
        <p>アクションやRPGなどジャンル毎で探したい方はこちらから検索できます。</p>
        <p><a class="btn btn-outline-info" href="#">listen to music &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= image_tag("geisha.png", class:"img-thumbnail") %>
        <h2 class="fw-normal" >オリジナル楽曲</h2>
        <p>皆さんが投稿した、〇〇風音楽やお気に入りのゲームへ向けたオリジナル楽曲を見つけてみましょう。</p>
        <p><a class="btn btn-outline-secondary" href="#">listen to music &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="container music-container mt-4">

  <% @musics.each_with_index do |music, index| %>

    <hr class="featurette-divider">

    <div class="row featurette">
      <% if index.even? %>
        <div class="col-md-7">
          <h2  class="fw-semibold"><%= music.game_name %> - <%= music.title %></h2>
          <p class="text-bg-light p-3"><%= music.description %></p>

          <!-- Music Details based on validation columns -->
          <ul class="Medium weight text.">
            <li><strong>User:</strong> <%= music.user.nickname if music.user %></li>
            <li><strong>年代（Year）:</strong> <%= music.year.name if music.year %></li>
            <li><strong>ジャンル（Genre）:</strong> <%= music.genre.name if music.genre %></li>
            <li><strong>対象（Target）:</strong> <%= music.target if music.target %></li>
            <li><strong>Music File:</strong> 
              <% if music.music_file.attached? %>
                <div >
                  <%= audio_tag rails_blob_path(music.music_file), controls: true %>
                </div>
              <% else %>
                Not Attached
              <% end %>
            </li>
          </ul>
        </div>
        <div class="col-md-5">
          <%= image_tag music.image.variant(resize: '500x500'), class: "featurette-image img-fluid mx-auto" if music.image.attached? %>
        </div>
      <% else %>
        <div class="col-md-7 order-md-2">
          <h2 class="fw-semibold"><%= music.game_name %> - <%= music.title %></h2>
          <p class="text-bg-light p-3"><%= music.description %></p>

          <!-- Music Details based on validation columns -->
          <ul class="Medium weight text.">
            <li><strong class="">User:</strong> <%= music.user.nickname if music.user %></li>
            <li><strong class="">年代（Year）:</strong> <%= music.year.name if music.year %></li>
            <li><strong>ジャンル（Genre）:</strong> <%= music.genre.name if music.genre %></li>
            <li><strong>対象（Target）:</strong> <%= music.target if music.target %></li>
            <li><strong>Music File:</strong> 
              <% if music.music_file.attached? %>
                <div >
                  <%= audio_tag rails_blob_path(music.music_file), controls: true %>
                </div>
              <% else %>
                Not Attached
              <% end %>
            </li>
          </ul>
        </div>
        <div class="col-md-5 order-md-1">
          <%= image_tag music.image.variant(resize: '500x500'), class: "featurette-image img-fluid mx-auto" if music.image.attached? %>
        </div>
      <% end %>
    </div>

  <% end %>
</div>

<hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

<%= render "shared/footer" %>

</main>


    </body>
</html>
