<%= render "shared/header" %>
<%= stylesheet_link_tag 'show' %>
<br>
<br>
<br>

<html lang="en">
  <head>
      <!-- ヘッダー部分のコード -->
  </head>
  <body>
      <div class="container">
        <!-- タイトルとゲーム名を追加 -->
        <h2 class="text-center mt-3"><%= @music.game_name %> - <%= @music.title %></h2> 
        <div class="music-details">
          <% if @music.image.attached? %>
             <div class="music-image">
                <%= link_to(image_tag(@music.image.variant(resize: '500x500'), class: "featurette-image img-fluid mx-auto"), music_path(@music)) %>
            </div>
          <% end %>
          <div class="music-audio">
            <% if @music.music_file.attached? %>
              <div >
                <%= audio_tag rails_blob_path(@music.music_file), controls: true %>
              </div>
            <% else %>
               Not Attached
            <% end %>
        <div class="music-info">
          <p><strong>User:</strong> <%= @music.user.nickname %>
            <% unless @music.user == current_user %>
              <% if @music.user.followed_by?(current_user) %>
                <%= link_to "フォロー中", user_relationships_path(@music.user.id), class: "follow-button followed", data: { turbo_method: :delete } %>
              <% else %>
                <%= link_to "フォローする", user_relationships_path(@music.user.id), class: "follow-button", data: { turbo_method: :post } %>
              <% end %>
            <% end %>
          </p>
          <p><strong>年代（Year）:</strong> <%= @music.year.name if @music.year %></p>
          <p><strong>ジャンル（Genre）:</strong> <%= @music.genre.name if @music.genre %></p>
          <p><strong>対象（Target）:</strong> <%= @music.target if @music.target %></p>
        </div>
        <div class="music-description">
          <p class="text-bg-light p-3"><%= @music.description_with_links %></p> <!-- description_with_links を呼び出す -->
        </div>

        <!-- ログイン状態で、自身の投稿の場合にのみ「編集」「削除」ボタンを表示 -->
        <% if user_signed_in? && current_user == @music.user %>
          <%= link_to '編集', edit_music_path(@music), class: 'btn btn-primary' %>
          <%= link_to '削除', music_path(@music), data: { turbo_method: :delete }, class: 'btn btn-danger' %>
        <% end %>

        <!-- コメント欄 -->
         <div class="comments">
            <h3>コメント</h3>
            <% if user_signed_in? %>
              <!-- ログイン状態の場合、コメントフォームを表示 -->
              <%= form_with(model: [@music, @comment], local: true) do |f| %>
                <%= f.text_area :text, placeholder: "コメントを入力してください" %>
                <%= f.submit "コメントする" %>
              <% end %>
            <% else %>
              <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
            <% end %>

            <!-- コメント一覧 -->
            <div class="comments">
              <h4>コメント一覧</h4>
              <% @comments.each do |comment| %>
                <p>
                  <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>:</strong>
                  <%= comment.text %>
                </p>
              <% end %>
            </div>

      </div>

  </body>
</html>

<%= render "shared/footer" %>